{% extends "base.html" %}

{% block content %}
    {% load static %}

    <div class="container py-4">
        <div class="row">
            <div class="col-lg-6 mb-4">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <div style="flex-shrink: 0;">
                            {% if pet.photo %}
                                <img src="{{ pet.photo.url }}" alt="Pet Photo" class="img-thumbnail"
                                     style="width: 150px; height: 150px; object-fit: cover;">
                            {% else %}
                                <img src="#" alt="Pet Photo" class="img-thumbnail"
                                     style="width: 150px; height: 150px; object-fit: cover;">
                            {% endif %}
                        </div>
                        <div class="ms-3">
                            <h5 class="mb-0"><strong>{{ pet }}</strong></h5>
                            <p class="mb-0"><strong>Passport:</strong> {{ pet.passport_number }}</p>
                            {% if user.is_owner %}
                                <p class="text-muted"><strong>Pet Access Code:</strong> {{ access_code }}</p>
                            {% endif %}
                        </div>

                    </div>
                    <div class="card-body">
                        <p class="card-text"><strong>Species:</strong> {{ pet.species }}</p>
                        <p class="card-text"><strong>Breed:</strong> {{ pet.breed }}</p>
                        <p class="card-text"><strong>Gender:</strong> {{ pet.sex }}</p>
                        <p class="card-text"><strong>DoB:</strong> {{ pet.date_of_birth }}</p>
                        <p class="card-text"><strong>Weight:</strong> {{ pet.current_weight }} kgs</p>
                        <p class="card-text"><strong>Color:</strong> {{ pet.color }}</p>
                        <p class="card-text"><strong>Features:</strong> {{ pet.features }}</p>

                        {% if pet.transponder %}
                            <p><strong>Marking:</strong> <a href="{% url 'marking-details' pk=pet.pk %}"
                                                            class="btn btn-link">{{ pet.transponder }}</a></p>
                        {% elif pet.tattoo %}
                            <p><strong>Marking:</strong> <a href="{% url 'marking-details' pk=pet.pk %}"
                                                            class="btn btn-link">{{ pet.tattoo }}</a></p>
                        {% else %}
                            <p><strong>No marking of the animal</strong> - <a href="{% url 'marking-add' pk=pet.pk %}"
                                                                              class="btn btn-secondary">Add marking?</a>
                            </p>
                        {% endif %}

                    </div>
                    {% if user.is_owner %}
                        <div class="card-footer d-flex justify-content-between">
                            <a href="{% url 'dashboard' %}" class="btn btn-outline-secondary">Go back</a>
                            <a href="{% url 'pet-edit' pk=pet.pk %}" class="btn btn-outline-primary">Edit Pet</a>
                            <a href="{% url 'pet-delete' pk=pet.pk %}" class="btn btn-outline-danger">Delete Pet</a>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Valid <strong>Vaccination</strong> Records</h5>
                        {% if valid_vaccinations %}
                            {% for vaccine in valid_vaccinations %}
                                <p><a href="{% url 'vaccine-details' pk=vaccine.pk %}?source=pet&id={{ pet.id }}"
                                      class="btn btn-sm btn-outline-primary">{{ vaccine }}</a></p>
                            {% endfor %}
                        {% else %}
                            <p><strong>No vaccination records</strong></p>
                            {% if user.is_owner %}
                                <a href="{% url 'vaccine-record-add' %}?pet_id={{ pet.id }}"
                                   class="btn btn-sm btn-secondary">Add Vaccination Record</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Valid <strong>Treatment</strong> Records</h5>
                        {% if valid_treatments %}
                            {% for treatment in valid_treatments %}
                                <p><a href="{% url 'treatment-details' pk=treatment.pk %}?source=pet&id={{ pet.id }}"
                                      class="btn btn-sm btn-outline-success">{{ treatment }}</a></p>
                            {% endfor %}
                        {% else %}
                            <p><strong>No treatment records</strong></p>
                            {% if user.is_owner %}
                                <a href="{% url 'treatment-record-add' %}?pet_id={{ pet.id }}"
                                   class="btn btn-sm btn-secondary">Add Treatment Record</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Latest <strong>Examination</strong> Records</h5>
                        {% if last_examinations %}
                            {% for exam in last_examinations %}
                                {% if user.is_owner %}
                                    <p><a href="{% url 'exam-details' pk=exam.pk %}?source=pet&id={{ pet.id }}"
                                          class="btn btn-sm btn-outline-info">{{ exam }}</a></p>
                                {% else %}
                                    <p><a href="{% url 'exam-details' pk=exam.pk %}?source=clinic&code={{ code }}"
                                          class="btn btn-sm btn-outline-info">{{ exam }}</a></p>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <p><strong>No examination records</strong></p>
                        {% endif %}
                        {% if not user.is_owner %}
                            <a href="{% url 'exam-add' %}?source=clinic&code={{ code }}"
                               class="btn btn-sm btn-primary mt-2">New
                                Examination</a>
                        {% endif %}
                    </div>
                </div>

                <div class="d-flex justify-content-between">
                    <a href="{% url 'record-list' %}?pk={{ pet.pk }}" class="btn btn-secondary">View all history
                        records</a>
                    {% if not user.is_owner %}
                        <a href="{% url 'logout' %}" class="btn btn-danger">Finish and Logout</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}