{% load i18n %}
<div class="card-footer text-end">
    {% if source == 'exam' %}
        <a href="{% url 'exam-details' pk=id %}" class="btn btn-secondary">{% trans "Back" %}</a>
    {% elif source == 'pet' %}
        <a href="{% url 'pet-details' pk=id %}" class="btn btn-secondary">{% trans "Back" %}</a>
    {% elif source == 'hist' %}
        <a href="{% url 'record-list' %}?pk={{ id }}" class="btn btn-secondary">{% trans "Back" %}</a>
    {% elif source == 'clinic' %}
        <a href="{% url 'clinic-dashboard' %}?code={{ code }}" class="btn btn-secondary">{% trans "Back" %}</a>
    {% endif %}
</div>
