{% load widget_tweaks %}
{% load i18n %}
<div class="card mb-4">
    <div class="card-body">
        <h5 class="card-title"><strong>{% trans "Type:" %} </strong> {{ object.name }}</h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>{% trans "Date conducted:" %}</strong> {{ object.date_conducted }}</li>
            <li class="list-group-item"><strong>{% trans "Result:" %}</strong> {{ object.result }}</li>
            <li class="list-group-item"><strong>{% trans "White blood cells:" %}</strong>
                {% if object.white_blood_cells %}
                    {{ object.white_blood_cells }} × 10³/μL
                {% else %}
                    {% trans "Not measured" %}
                {% endif %}
            </li>
            <li class="list-group-item"><strong>{% trans "Red blood cells:" %}</strong>
                {% if object.red_blood_cells %}
                    {{ object.red_blood_cells }} × 10⁶/μL
                {% else %}
                    {% trans "Not measured" %}
                {% endif %}
            </li>
            <li class="list-group-item"><strong>{% trans "Hemoglobin:" %}</strong>
                {% if object.hemoglobin %}
                    {{ object.hemoglobin }} g/dL
                {% else %}
                    {% trans "Not measured" %}
                {% endif %}
            </li>
            <li class="list-group-item"><strong>{% trans "Platelets:" %}</strong>
                {% if object.platelets %}
                    {{ object.platelets }} × 10³/μL
                {% else %}
                    {% trans "Not measured" %}
                {% endif %}
            </li>
            <li class="list-group-item"><strong>{% trans "Notes:" %}</strong> {{ object.additional_notes }}</li>
        </ul>
    </div>
</div>
