<div class="pet-card">
    <div class="two-columns">
        <div class="pet-basics">
            <h1 class="pet-name"> {{ pet }} - {{ pet.passport_number }}</h1>
            <p>Species: {{ pet.species }}</p>
            <p>Breed: {{ pet.breed }}</p>
            <p>Gender: {{ pet.sex }}</p>
            <p>DoB: {{ pet.date_of_birth }}</p>

        </div>
        <div class="buttons">
            <a href="{% url 'dashboard' %}" class="btn btn-secondary">Go back</a>
            <a href="{% url 'pet-edit' pk=pet.pk %}" class="btn btn-secondary">Edit Pet</a>
            <a href="{% url 'pet-delete' pk=pet.pk %}" class="btn btn-secondary">Delete Pet</a>
        </div>
        <div class="pet-records">
            <h2>Valid Vaccination Records</h2>
            <div class="vaccines">
                {% for vaccine in valid_vaccinations %}
                    <a href={% url "vaccine-details" pk=vaccine.pk %}>{{ vaccine }}</a>
                {% endfor %}
            </div>
            <h2>Valid Treatment Records</h2>
            <div class="treatment">
                {% for treatment in valid_treatments %}
                    <a href={% url "treatment-details" pk=treatment.pk %}>{{ treatment }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="buttons">
            <a href="{% url 'record-list' %}?pk={{ pet.pk }}" class="btn btn-secondary">View all history records</a>
        </div>
    </div>

</div>