<div class="card mb-4">
    <div class="card-body">
        <h5 class="card-title"><strong>Name of the medication/treatment:</strong> {{ object.medication.name }}</h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Date and time prescribed:</strong> {{ object.date }} / {{ object.time }}
            </li>
            <li class="list-group-item"><strong>Dosage:</strong> {{ object.dosage }}</li>
            <li class="list-group-item"><strong>Valid until:</strong> {{ object.valid_until }}</li>
            <li class="list-group-item"><strong>Notes and how to administer:</strong> {{ object.medication.notes }}</li>
        </ul>
    </div>
    {% if source == 'pet' %}
        {% include 'partials/back_buttons.html' %}
    {% endif %}
</div>
