{% load i18n %}
<div class="card mb-4">
    <div class="card-body">
        <h5 class="card-title"><strong>{% trans "Name of the medication/treatment:" %}</strong> {{ object.medication.name }}</h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>{% trans "Date and time prescribed:" %}</strong> {{ object.date }} / {{ object.time }}
            </li>
            <li class="list-group-item"><strong>{% trans "Dosage:" %}</strong> {{ object.dosage }}</li>
            <li class="list-group-item"><strong>{% trans "Valid until:" %}</strong> {{ object.valid_until }}</li>
            <li class="list-group-item"><strong>{% trans "Notes and how to administer:" %}</strong> {{ object.medication.notes }}</li>
        </ul>
    </div>
    <div class="card-footer text-end">

    <a href="{% url 'treatment-record-edit' pk=object.pk %}?source={{ source }}&id={{ id }}"
               class="btn btn-outline-primary me-2">{% trans "Edit" %}</a>

        {% if source == 'pet' or source == 'hist' %}
            {% if source == 'pet' %}
                <a href="{% url 'pet-details' pk=id %}"
                   class="btn btn-secondary">{% trans "Back" %}</a>
            {% elif source == 'hist' %}
                <a href="{% url 'record-list' %}?pk={{ id }}"
                   class="btn btn-secondary">{% trans "Back" %}</a>
            {% endif %}
        {% endif %}
    </div>
</div>
