{% extends 'base.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}
<section class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="p-4 border rounded bg-light shadow-sm">
                <div class="text-center mb-4">
                    <h3>{% trans "Set a New Password" %}</h3>
                </div>
                {% trans "Enter new password" as new_password1_placeholder %}
                {% trans "Repeat new password" as new_password2_placeholder %}
                <form method="post" novalidate>
                    {% csrf_token %}
                    {{ form.non_field_errors }}

                    <div class="mb-3">
                        {{ form.new_password1.label_tag }}
                        {% render_field form.new_password1 class+="form-control" placeholder=new_password1_placeholder %}
                        {{ form.new_password1.errors }}
                    </div>

                    <div class="mb-3">
                        {{ form.new_password2.label_tag }}
                        {% render_field form.new_password2 class+="form-control" placeholder=new_password2_placeholder %}
                        {{ form.new_password2.errors }}
                    </div>

                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">{% trans "Reset Password" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
