{% extends 'base.html' %}
{% load static %}


{% block content %}
    <section class="site-section login">
        <div class="inner">
            <div class="title">
                <h2>Welcome to your pet's medical records!</h2>
                <h3>Please login:</h3>
            </div>
            <div class="form">
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <form action="{% url 'login' %}?next={{ next }}" method="post" class="login-form">
                    {{ form.username}}
                    {{ form.password}}
                    {% csrf_token %}
                    <div class="buttons">
                        <button type="submit" class="btn login-btn">Log In</button>
                        <button class="btn btn-secondary"
                                onclick="window.location.href='../register/';">Register instead?</button>
                    </div>
                </form>
            </div>
        </div>

    </section>
{% endblock %}