{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
    <form action="{% url 'exam-add' %}?source=clinic&code={{ code }}" method="post">
        {% csrf_token %}
        <div class="container py-4">
            <h2 class="mb-4 text-center">Medical Examination Report for {{ pet.name }}</h2>

            <h4>Basic Information</h4>
            <div class="row g-3">
                <div class="col-md-6">
                    <label for="id_date_of_entry" class="form-label">{{ form.date_of_entry.label }}</label>
                    {{ form.date_of_entry|add_class:"form-control" }}
                    {{ form.date_of_entry.errors }}


                    <label class="form-label">{{ form.doctor.label }}</label>
                    {{ form.doctor|add_class:"form-control" }}
                    {{ form.doctor.errors }}

                    <label for="id_exam_type" class="form-label">{{ form.exam_type.label }}</label>
                    {{ form.exam_type|add_class:"form-check rounded" }}
                    {{ form.exam_type.errors }}


                    <label class="form-label">{{ form.follow_up.label }}</label>
                    {{ form.follow_up|add_class:"form-check-input" }}
                    {{ form.follow_up.errors }}

                </div>

                <div class="col-md-6">
                    <label class="form-label">{{ form.reason_for_visit.label }}</label>
                    {{ form.reason_for_visit|add_class:"form-control" }}
                    {{ form.reason_for_visit.errors }}
                </div>
                <div class="col-md-6">
                    <label class="form-label">{{ form.treatment_performed.label }}</label>
                    {{ form.treatment_performed|add_class:"form-control" }}
                    {{ form.treatment_performed.errors }}
                </div>
                <div class="col-md-6">
                    <label class="form-label">{{ form.notes.label }}</label>
                    {{ form.notes|add_class:"form-control" }}
                    {{ form.notes.errors }}
                </div>


            </div>

            <h4 class="mt-4">Additional Information</h4>
            <button type="button" id="add-info-form-button" class="btn btn-outline-secondary mb-3">Show</button>
            <div id="add-info-container"></div>

            <template id="add-info-form-template">
                <div class="row g-3">
                    {% for field in form %}
                        {% if field.name in additional_info_fields %}
                            <div class="col-md-6">
                                <label class="form-label">{{ field.label }}</label>
                                {{ field|add_class:"form-control" }}
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </template>
            <h4 class="mt-4">Vaccines</h4>
            <div id="vaccination-forms">
                {{ vaccine_formset.management_form }}
                {% for form in vaccine_formset %}
                    <div class="border rounded p-3 mb-3 vaccine-form">
                        {{ form.as_p }}
                        <button type="button" class="btn btn-danger remove-vaccine-form">Remove</button>
                    </div>
                {% endfor %}
            </div>
            <template id="empty-vaccine-form">
                <div class="border rounded p-3 mb-3 vaccine-form">
                    {{ vaccine_formset.empty_form.as_p }}
                    <button type="button" class="btn btn-danger remove-vaccine-form">Remove</button>
                </div>
            </template>
            <button type="button" id="add-vaccine-form" class="btn btn-outline-primary">Add Vaccine</button>

            <h4 class="mt-4">Treatments</h4>
            <div id="treatment-forms">
                {{ treatment_formset.management_form }}
                {% for form in treatment_formset %}
                    <div class="border rounded p-3 mb-3 treatment-form">
                        {{ form.as_p }}
                        <button type="button" class="btn btn-danger remove-treatment-form">Remove</button>
                    </div>
                {% endfor %}
            </div>
            <template id="empty-treatment-form">
                <div class="border rounded p-3 mb-3 treatment-form">
                    {{ treatment_formset.empty_form.as_p }}
                    <button type="button" class="btn btn-danger remove-treatment-form">Remove</button>
                </div>
            </template>
            <button type="button" id="add-treatment-form" class="btn btn-outline-primary">Add Treatment</button>

            <h4 class="mt-4">Blood Test</h4>
            <div id="blood-test-form-container"></div>
            <template id="blood-test-template">
                <div id="blood-test-form" class="border rounded p-3 mb-3">
                    {{ blood_test_form.as_p }}
                </div>
            </template>
            <button type="button" id="add-remove-blood-test-form" class="btn btn-outline-secondary">Add Blood Test
            </button>

            <h4 class="mt-4">Urine Test</h4>
            <div id="urine-test-form-container"></div>
            <template id="urine-test-template">
                <div id="urine-test-form" class="border rounded p-3 mb-3">
                    {{ urine_test_form.as_p }}
                </div>
            </template>
            <button type="button" id="add-remove-urine-test-form" class="btn btn-outline-secondary">Add Urine Test
            </button>

            <h4 class="mt-4">Fecal Test</h4>
            <div id="fecal-test-form-container"></div>
            <template id="fecal-test-template">
                <div id="fecal-test-form" class="border rounded p-3 mb-3">
                    {{ fecal_test_form.as_p }}
                </div>
            </template>
            <button type="button" id="add-remove-fecal-test-form" class="btn btn-outline-secondary">Add Fecal Test
            </button>
            <div class="mt-4">
                <button type="submit" class="btn btn-success">Save</button>
                {% include 'partials/back_buttons.html' %}
            </div>
        </div>
    </form>

    <script>
        // ======= Add info form ======
        const addInfoFormButton = document.getElementById('add-info-form-button');
        const addInfoContainer = document.getElementById('add-info-container');
        const addInfoFormTemplate = document.getElementById('add-info-form-template');

        addInfoFormButton.addEventListener('click', (e) => {
            if (addInfoFormButton.innerText === 'Show') {
                addInfoFormButton.innerText = 'Hide'
                addInfoContainer.innerHTML = addInfoFormTemplate.innerHTML
            } else {
                addInfoFormButton.innerText = 'Show'
                addInfoContainer.innerHTML = ''
            }
        })

        // ========== Vaccines ==========
        const vaccinationFormsContainer = document.getElementById('vaccination-forms');
        const addVaccineButton = document.getElementById('add-vaccine-form');
        let vaccineFormIndex = {{ vaccine_formset.total_form_count }};
        const vaccineTotalFormsInput = document.querySelector('input[name="vaccine-TOTAL_FORMS"]');
        const vaccineTemplate = document.getElementById("empty-vaccine-form").innerHTML;

        addVaccineButton.addEventListener('click', () => {
            const newFormHTML = vaccineTemplate.replace(/__prefix__/g, vaccineFormIndex);
            vaccinationFormsContainer.insertAdjacentHTML('beforeend', newFormHTML);
            vaccineFormIndex++;
            vaccineTotalFormsInput.value = vaccineFormIndex;
        });

        vaccinationFormsContainer.addEventListener('click', (e) => {
            if (e.target.classList.contains('remove-vaccine-form')) {
                e.target.closest('.vaccine-form').remove();
                vaccineFormIndex--;
                vaccineTotalFormsInput.value = vaccineFormIndex;
            }
        });

        // ========== Treatments ==========
        const treatmentFormsContainer = document.getElementById('treatment-forms');
        const addTreatmentButton = document.getElementById('add-treatment-form');
        let treatmentFormIndex = {{ treatment_formset.total_form_count }};
        const treatmentTotalFormsInput = document.querySelector('input[name="treatment-TOTAL_FORMS"]');
        const treatmentTemplate = document.getElementById("empty-treatment-form").innerHTML;


        addTreatmentButton.addEventListener('click', () => {
            const newFormHTML = treatmentTemplate.replace(/__prefix__/g, treatmentFormIndex);
            treatmentFormsContainer.insertAdjacentHTML('beforeend', newFormHTML);
            treatmentFormIndex++;
            treatmentTotalFormsInput.value = treatmentFormIndex;
        });

        treatmentFormsContainer.addEventListener('click', (e) => {
            if (e.target.classList.contains('remove-treatment-form')) {
                e.target.closest('.treatment-form').remove();
                treatmentFormIndex--;
                treatmentTotalFormsInput.value = treatmentFormIndex;
            }
        });

        // ========== Toggle Helper ==========
        function setupSingleToggle(buttonId, containerId, templateId, addText, removeText) {
            const button = document.getElementById(buttonId);
            const container = document.getElementById(containerId);
            const template = document.getElementById(templateId).innerHTML;

            button.addEventListener('click', () => {
                const formEl = container.querySelector('div');
                if (!formEl) {
                    container.innerHTML = template;
                    button.classList.remove('btn-outline-secondary');
                    button.classList.add('btn-danger');
                    button.innerText = removeText;
                } else {
                    container.innerHTML = '';
                    button.classList.remove('btn-danger');
                    button.classList.add('btn-outline-secondary');
                    button.innerText = addText;
                }
            });
        }

        // ========== Initialize Toggles ==========
        setupSingleToggle('add-remove-blood-test-form', 'blood-test-form-container', 'blood-test-template', 'Add Blood Test', 'Remove Blood Test');
        setupSingleToggle('add-remove-urine-test-form', 'urine-test-form-container', 'urine-test-template', 'Add Urine Test', 'Remove Urine Test');
        setupSingleToggle('add-remove-fecal-test-form', 'fecal-test-form-container', 'fecal-test-template', 'Add Fecal Test', 'Remove Fecal Test');


    </script>

{% endblock %}