{% extends 'base.html' %}

{% block content %}
    <div class="form">
        <h3>Add medication/treatment record</h3>
        <p>This can be done only once. No editing or deleting of the treatment record is possible.</p>
        <p>Ensure proper and correct data is entered.</p>
        <form action="{% url 'treatment-record-add' %}?pet_id={{ pet_id }}" method="post">


            {{ form.as_p }}
            {% csrf_token %}
            <p>
                <button type="submit" class="btn btn-secondary">Save record</button>
            </p>

            <p>
                <button type="reset" class="btn btn-secondary">Clear fields</button>
            </p>
            <p>
                <button><a href="{% url 'treatment-record-stop' %}?pet_id={{ pet_id }}" class="btn btn-secondary">Finish
                    adding treatments</a></button>
            </p>
        </form>
    </div>
{% endblock %}