{% extends 'base.html' %}
{% load static %}


{% block content %}
    <section class="site-section index">
        <div class="inner">
            <div class="title">
                <h2>My Pet's Medical Records</h2>
            </div>
            <div class="two-columns">
                <div class="column">
                    <h3>Join now and get:</h3>
                    <ul>
                        <li>Tracking of your pet's vaccinations and medical records!</li>
                        <li>Notification when it is time for medication or treatment!</li>
                        <li>Access to the records from everywhere!</li>
                    </ul>

                </div>
                <div class="column">
                    <div class="buttons">
                        <a href="#" class="btn">Login</a>
                        <a href="{% url "register" %}" class="btn btn-secondary">Register</a>
                    </div>
                </div>
            </div>


        </div>
    </section>
{% endblock %}


{% block scripts %}
{% endblock %}