@media (max-width: 575.98px) {
    .navbar-brand {
        display: none;
    }

    .navbar-collapse li.nav-item {
        margin-left: auto;
    }

    label.form-label {
    display: none !important;
  }
}