@media (max-width: 575.98px) {
    .navbar-brand {
        display: none;
    }

    .navbar-collapse li.nav-item {
        margin-left: auto;
    }

    label.form-label {
        display: none !important;
    }

    .card.mb-4 {
        text-align: center;
    }

    .center-button {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        /* optional spacing between buttons */
        margin-top: 1rem;
    }

    .center-button a {
        width: 100%;
        /* optional: make buttons full width */
        max-width: 300px;

    }

    .form-text.text-muted {
        display: block !important;
    }

    .col-md-6 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .col-md-6 select {
        margin-top: 1rem;
        width: auto; /* optional: avoid stretching */
    }
}

