/* @import url(reset.css); */
/* /* @import url(typography.css); */
@import url(media.css);

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    color: #333;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    background: linear-gradient(135deg, #fff, #1f8b62);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Navbar styling */
.navbar-nav .nav-item {
    display: flex;
    align-items: center;
}

.navbar-nav .nav-link {
    display: flex;
    align-items: center;
    height: 100%;
}
